h2{
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    color: #67b54b;
}
.accordion-button:not(collapsed){
    background-color: white;
}
.accordion-button::after{
    width: 0;
}

body{
    background-image: url(./img/LOGIN2.png);
}