
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,600&display=swap');

    h1,h2,h3,h4,h5,h6{
        font-family: "Alegreya", sans-serif;

    }
        h1 {
            color: #025157;
            float: inline-start;
            font-size: 2.5rem;
        }
        .txtpromo{
            color:#8b8b8bcc;
        }
        .dbtitle{
            color: #46484c;
        }
        body {
            background-color: #fffbf7;
            font-family: "Open Sans", sans-serif;
        }
        button {
            color: #fff;
            background-color: #025157;
        }
        header{
            /*margin-top: 40px;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 0px;*/
            margin: 4px 20px 0px;
            font-size: 0px;
        }

        li{
            display: inline;
            margin:0px 25px;
            color: #025157;
        }

        .header > *{
            display: inline-block;
            font-size: 16px;
            vertical-align: middle;
            height: 100%;
            line-height: 45px;
            font-family: sans-serif;
        }

        .logo{
            width:15%;
        }
        .logo > img{
            width:50%;
        }

        .navbar{
            
            text-align: center;
            font-weight:500;
        }

        .actions{
            display: flex;
            gap: 12px;
            align-items: center;
            text-align: right;
            font-weight:600;
        }

        .actions > *{ 
            
            font-size: 14px;
        }
        .actions > a{ 
            margin:0px 10px;
            color:#67b54b;
       }
        .main{
            margin-top: 140px;
            text-align: center;
        }

         .conteiner{
            display: flex;
            flex-direction: row;
            gap: 12px;
         }  
         
         
         .publish{
            display: flex;
            flex-direction: column;
        }
       

        .conteiner_video{
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .features{
            margin-bottom: 120px 0;
            padding: 60px 120px;
            display: grid;
            height: 600px;
            background-color: #025157;
            /*grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 500px 500px;*/
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            
        }

        .feature-card{
            display: grid;
            grid-template-columns: 1fr 50px;
            margin: 30px 15px 0px 15px;
            background-color: #fff;
            border-radius: 5px;
            gap: 12px;
        }

        .flexIzq{
            display: flex;
            flex-direction: column;
            
        }

        .boton{
            color: #fff;
            background-color: #67b54b;
            border: none;
            border-radius: 5px;
            padding: 12px 14px;
        }
      

        h3{
            color: #025157;
            font-family: "Alegreya", serif;
            font-size: 1.75rem;
        }


        button:active, button:hover{
            background-color: blue;
            cursor: pointer;
        }


        .features .feature-card .flexIzq a{
            font-size: 16px;
            color: #67b54b;
            font-weight: 600;
            text-decoration: none;
        }

/*Extra small*/
        @media(max-width:575px) {
            .navbar, .actions{
                display: none;
            }
            h1 {
                font-size: 30px;
            }
            .main{
                margin-top: 80px;
            }

            .main > img{
                width: 100%;
            }

            .conteiner{
                flex-direction: column;
                align-items: center;
                margin-top: 10%;
             }

             .conteiner_video, .publish{
                width: 90%;
             }

             .publish h3{
                font-size: 25px;
             }
             .publish p{
                line-height: 24px;
             }

             .publish-actions{
                display: grid;
                grid-template-columns: 1 fr 120px;
             }

             .features{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-template: repeat(4, 1fr) / 1fr;
                padding-left: 12px;
                padding-right: 12px;
                height: 1200px;
            
             }
             .feature-grid {
                grid-template-columns: 1fr;
            }
        
            .feature-grid > img {
                display: none;
            }

            .feature-card > img{
                display: none;
            }
             
        }

        @media((min-width:576px) and (max-width:767)) {
            
        }        

        @media((min-width:768px) and (max-width:991)) {
            
        }  

        @media((min-width:992px) and (max-width:1199)) {
            
        }  

        @media(min-width:1200px) {
            
        } 